body {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.box {
  width: 100px;
  height: 100px;
  background-color: gold;
}

.box:hover {
  transform: rotate(15deg) translateX(50px);
}
