*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  margin: 10px;
}

.box::before {
  content: "Hello";
}

.box {
  width: 100px;
  height: 100px;
  background-color: gold;
  padding: 20px;
  border: 10px solid orange;
  margin: 50px;
}

.inline-block {
  display: inline-block;
}
