body {
  margin: 10px;
}

p {
  color: orange;
}

#products {
  color: orange;
}

.product {
  color: orange;
}

/* Select all anchors with a target attribute */
/* The value does not matter here */
a[target] {
  color: orange;
}

/* Select all anchors with its target attribute set to _blank */
a[target="_blank"] {
  color: orange;
}

/* Select all anchors with its href set to https://google.com */
a[href="https://google.com"]
{
  color: orange;
}
/* Select all anchors with its href containing the word google */
a[href*="google"] {
  color: orange;
}

/* Select all anchors with its href starting with https */
a[href^="https"] {
  color: orange;
}

/* Select all anchors with its href ends with .com */
a[href$=".com"] {
  color: orange;
}

/* Select all anchors with its href starting with https and ending with .com */
a[href^="https"][href$=".com"] {
  color: orange;
}

#products p {
  color: orange;
}

ul li:nth-child(odd) {
  color: deeppink;
}

a:visited,
a:link {
  color: dodgerblue;
}

a:hover,
a:focus {
  color: deeppink;
}
