em {
  color: red;
  font-style: normal;
}

img {
  width: 200px;
  height: 200px;
  object-fit: cover;
}

video {
  width: 400px;
}

ul {
  list-style-type: none;
}

table,
td,
th {
  border: 1px solid grey;
  border-collapse: collapse;
  padding: 5px;
}

tfoot {
  text-align: left;
}

.product {
  background-color: gold;
  width: 300px;
}

.highlight {
  background-color: yellow;
}
